@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .carousel-caption {
    right: 59%;
    left: 5%;
    bottom: 100px;
  }
}

@media (max-width: 767px) {
  .about {
    background-image: none !important;
   
  }
  .aboutbody {
    width: 100% !important;
  }
}
.navbar{
  padding: 0 !important
}

.jumbotron {
  padding: 0 !important;
  margin-bottom: 0 !important;
}
.imgtag img {
  max-width: 100%;
  max-height: 80vh;
}
.about {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1.5em;
  background: #f1f1f1;
  background-image: url(./imgs/1.png), url(./imgs/2.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 10%, left 0 bottom 0;
}
.about p {
  text-align: center;
}
.abouthead {
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 2.1em;
}
.aboutbody {
  font-size: 1.4em;
  width: 32%;
  color: #4c4c4c;
}
.consumer img{
  display:block;
    margin:auto;

}
.consumer{
  background-color:#FAFAFC;
  height: auto;
  padding: 1.5em;
  min-height: 132vh;
  background-image: url(./imgs/3.png),url(./imgs/5.png);
  background-repeat: no-repeat;
  background-position: right 0 top 10%,left 0 bottom 0;
}
.farmerhead{
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.5em;
}
.farmerbody{
  font-size: 1.4em;
  color: #4c4c4c;
  text-align: center;
}
.farmerbody p{
  margin-bottom: 0.3em;
}

.offering{
  background-color:white;
  /* height: auto; */
  padding: 0 11.5em;
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offeringhead{
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1.5em;
  font-weight: 500;
  font-size: 2em;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color:#F3F3F5;
  color:#6B6B6B
}

a{
  color:#6E6F8A
}
.nav-link{
  padding: 1.0rem 1rem;
}
.offeringheadtab{
  /* text-align: center; */
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1em;
  color:#565656
}
.presence{
  background-color:#FAFAFC;
  /* height: auto; */
  padding: 0 5em 5em;
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presencehead{
  color:#535859;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 2em;
  font-weight: 500;
  font-size: 2em;
}
.presencebody{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white
}
/* .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right:0 !important;
  padding-left:0 !important;
} */
.investor{
  background-color:#F5F5F5;
  /* height: auto; */
  padding: 0 5em;
  display: flex;
  min-height: 35vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.investorhead{
  color:#535859;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: bold;
  font-size: 2em;
}
.contactus{
  background-image: url(./imgs/6.png);
  background-repeat: no-repeat;
  min-height: 62vh;
  background-position: right 0px top -150px;
}
.contactushead{
  color:white;
  text-align: center;
  margin-bottom: 1em;
  padding-top: 1.5em;
  font-weight: bold;
  font-size: 2em;
}
.footer{
  color:black;
  background-color:	#ABA7A4;
  /* height: auto; */
  padding: 0 2em;
  /* display: flex; */
  min-height: 35vh;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.btn-link{
  color:black;
  font-weight: 600;
  font-size:1.2em;
}